::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #667eea;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f6cec;
}
